html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1; /* This allows #root to take up full height */
}

main {
  flex: 1; /* This allows the main content to expand and push the footer down */
}

footer {
  background-color: #f1f1f1; /* Optional styling for footer */
  padding: 10px; /* Optional padding */
  text-align: center; /* Center text in footer */
}